@charset "utf-8";

.interaction{float: right;width: 607px;margin-top: 5px}
.fwd1{font-size: 17px;}
.fwd2{font-size: 14px;line-height: 18px;text-indent: 0;width: 205px}
.btn-subject.position-absolute{left: 0;top: 422px}
.verify-content{padding: 20px 10px 20px 20px;}
