@charset "utf-8";

#wrap{background-image: url(../images/page034/bg.jpg)}
#wrap::after{content: "";position: absolute;top: 0;right: 0; width: 205px;height: 205px ;background:url(../images/page034/1.png) no-repeat top left / cover;}
#wrap::before{content: "";position: absolute;top: 90px;right: 87px;width: 75px;height: 76px;background-color: #fff;border-radius: 50%;filter: blur(13px);animation: light 3s infinite both;}

.ch-1-bubble {line-height: 20px;}
.ch-goal-title {margin-bottom: 13px;}
.ch-1-text {margin-top: 40px;}
.ch-goal-list>li {line-height: 20px;}
.think-title .font-dt {text-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8), 2px 2px 4px rgba(255, 255, 255, 0.8) ;padding-top: 20px;}

@keyframes light{
    0% , 100%{opacity:1;}
    50%{opacity: 0;}
}

.drag-fix{margin: 7px}
.drag-fix>img, .drop-fix img{border-radius: 5px;box-shadow: 1px 1px 2px 0px rgba(56, 56, 56, 0.4);}
.drop-fix{height: 200px;border-radius: 10px;border: 1px solid #a8b6bd;margin-top: 5px;display: flex;align-items: center;justify-content: center}
.drop-fix img{width: 45%;height: auto;margin: 0 2px}
