@charset "utf-8";
#wrap{background-image: url(../images/page038/bg.jpg)}
.ch-2-title {height:60px; margin-top: 7px;align-items: flex-start;}
.para{word-break: keep-all;}
.icon-btn-video{position: absolute; top:46.5px}