@charset "utf-8";

#wrap{background-image: url(../images/page039/bg.jpg)}
.para{word-break: keep-all; width: 483px;}
.top-content{align-items: flex-start;}
.col-wide{flex:0 0 502px;}
.col-auto{margin-top: 155.5px;}
.icon-enlarge{width: 30px; height: 30.5px;}
.notice {display:flex; position: absolute; top: 292px; left:489px; font-size: 12px;line-height: 16px;text-align: center;}
.notice span{position: absolute; top:14.5px; left: 16.5px; }
.modal-dialog-centered{display: flex;flex-direction: column; align-items: center;}
p.font-dt{display: inline-block;width: 530px;width:421px;margin-top: 20px;text-align: left;word-break: keep-all;}