@charset "utf-8";

.side-btns{top: 83px;}
.img-box{position: relative;}
.img-box .lst-type-num>li{font-size: 16px;position: absolute;line-height: 24px;}
.img-box .lst-type-num>li>.text-circle:first-child{width: 20px;line-height: 20px;margin-left: -25px;}
.word-bubble{margin-left: -65px;}
#layer1{width: 600px;}
#textarea_037_01{width: 119px;height: 66px;}
#textarea_037_01+.icon-btn-chk{right: -50px;}
#layer2{right: -50px;width: 600px;}
.verify-content{padding: 19px 15px 19px 18px;}
.verify .lst-type-num>li{padding-left: 25px;line-height:unset;font-size: 16px;}
.verify .lst-type-num>li>.text-circle:first-child{width: 18px;height: 18px;margin-top: 7px;margin-right: 5px;font-size: 15px;line-height: 18px;}
.verify .form-control.itx{width:88px}
