@charset "utf-8";

#wrap{background-color: #dbebc3}
.top-content {align-items: flex-end; justify-content: space-between; padding-top: 30px;}
.img-wrap{width: 622px;margin: 0 auto;position: relative;margin-top: 20px}
.img-wrap>*:not(img){position: absolute}
.icon-enlarge{top: 170px}
.icon-enlarge:nth-of-type(1){left: 265px}
.icon-enlarge:nth-of-type(2){right: 7px}
.img-wrap p{font-size: 14px;line-height: 20px}
.letter{letter-spacing: -.05em}
.img-wrap .text-justify{width: 294px}
