@charset "utf-8";

.box-left {width: 253px;}
.interaction {position: relative;}
.sect-do-explore  {margin-top: -15px;}
.sect-do-explore .sect-hd{padding: 69px 0 0 0;margin-bottom: 10px;background-image: url(../images/page038/explore-hd.png);background-size: 253px auto;}
.fwd1 {font-size: 17px; color: #fff;}
.sect-do-content {padding-left: 30px;}
.layer-side-chk .media-body [class*=icon-btn], .layer-side-chk .media-body .layer {right: -45px;}
.sect-do-content .numbering>.num {width: 18px;}
.bx .lst-type-bull {font-size: 15px; line-height: 23px;}
.bx .lst-type-bull li + li {margin-top: 2px;}
.bx .lst-type-bull>li:before {width: 4px; height: 4px; background: #000;}
.bx {padding: 6px 0 6px 20px; background: #eaf1f3; border-color: #eaf1f3;}
.media-title {margin-bottom: 5px;}
.icon-btn-penwrite {position: absolute; right: 0;top: 35px}
.layer-side-chk>.layer-draw {min-width: 524px}
.painting-area .circle, .interaction>span{z-index: 25}
.painting-area .circle:nth-of-type(1){width: 27px;height: 45px}
.painting-area .circle:nth-of-type(2){width: 33px;height: 130px;transform: rotate(-30deg);}
.painting-area .circle:nth-of-type(3){width: 33px;height: 110px;transform: rotate(20deg);}
.painting-area .circle:nth-of-type(4){width: 27px;height: 45px}
.painting-area .circle:nth-of-type(5){width: 53px;height: 25px}
.painting-area .circle:nth-of-type(6){width: 53px;height: 25px}
#drawHelper{bottom: auto;top: 100%;right: 0;left: auto}
#layer2{left: auto;right: 0}
.interaction .icon-hand{position: absolute;left: 40px;top: 355px;z-index: 20}
#layer3{position: absolute;top: 0;left: 0;font-size: 11px;line-height: 11px}
#layer3>*:not(img){position: absolute}
#layer3 .fs13{width: 355px;line-height: 18px}
#layer3 .font-serif{color: #2a95d4}
