@charset "utf-8";

.btn-subject.btn1 {margin-top: 43px;}
.btn-subject.btn2 {margin-top: 37px;}
.word-bubble {padding-left: 37px;}
.fwd1 {font-size: 16px; color: #fff;}
.explanation.layer-limit {width: 240px;}
.magnify{z-index: 50}
.btn-magnify{z-index: 55}
.init>.magnify-lens{display: block}
