@charset "utf-8";

#wrap{background-image: url(../images/page054/bg.jpg);background-size: cover;}
.bottom-content{bottom:12px}
.slide-content{height:776px;}
.notice{position: absolute;top:-20px;left:9px;font-size: 12px;line-height: 16px;text-align: center;}
.notice p{position: absolute;left:22px;top:11px}
.slide-content{padding:84px 35px 35px 35px}
.slide-tit{position: absolute; left: 166px; top:88px; font-size:28px;}
.slide-tit.text-white span {padding-left: 8px;}
.icon-btn-video {position: absolute; left: 526px; top: 90px;}
.info {text-align: center; font-size: 18px; line-height: 27px; margin-left: 12px; margin-top: 58px;}
.img-slide {margin-top: 36px; margin-left: 18px;}
.swiper-slide {padding-left: 12px;}
.swiper-slide .font-ka {position: absolute; left: 258px; top:14px; font-size: 27px;color: #fff;}
.swiper-slide .font-dt {font-size: 20px; line-height: 31.645px; width: 256px; text-align: justify; margin: 0 auto; margin-top: 10px; text-indent: 0.9em;}
.swiper-button-next, .swiper-button-prev {top: 29%;}
