@charset "utf-8";

#wrap{background-image: url(../images/page045/bg.jpg)}
.col-wide {flex: 0 0 552px; min-width: 552px;}
.fwd.font-ka {font-size: 16px;color:#fff}

.box{margin: 0 15px;background: #fff;border: 1px solid #878787;border-radius: 10px;padding-bottom: 30px;justify-content: space-around}
.interaction{margin-top: -1px}
.interaction .icon-hand{position: absolute;top: 75px;left: 40px}
.icon-hand.re{background-position: 50% 50%}
.interaction>.font-ka{position: absolute;color: #fff;font-size: 16px}
.overlay, .colorline .bg, .init .bg{position: absolute;top: 0;left: 0;right: 0;bottom: 0;pointer-events: none;background-repeat: no-repeat;background-size: auto 100%}
.overlay{z-index: 5}
.colorline span, .init>span{position: absolute;font-size: 10px;z-index: 6}
.red{color: #e61173}
.blue{color: #305fa0}
.colorline li>*{animation: fadeIn .5s both}
.colorline li:nth-child(2)>*{animation-delay: .5s}
.colorline li:nth-child(3)>*{animation-delay: 1s}
.colorline li:nth-child(4)>*{animation-delay: 1.5s}
.colorline li:nth-child(5)>*{animation-delay: 2s}
.colorline li:nth-child(6)>*{animation-delay: 2.5s}
.colorline li:nth-child(7)>*{animation-delay: 3s}
.colorline li:nth-child(8)>*{animation-delay: 3.5s}
.colorline li:nth-child(9)>*{animation-delay: 4s}
.colorline li:nth-child(10)>*{animation-delay: 4.5s}
.colorline li:nth-child(11)>*{animation-delay: 5s}
.colorline li:nth-child(12)>*{animation-delay: 5.5s}
.colorline, .active>.init{display: none}
.active>.colorline{display: block}

#left{width: 328px;height: 467px;background: url(../images/page045/a_bg.png) no-repeat 0 0/auto 100%}
#left .overlay{background-image: url(../images/page045/a_over.png)}
#left li:nth-child(1) .bg{background-image: url(../images/page045/a1.png)}
#left li:nth-child(2) .bg{background-image: url(../images/page045/a2.png)}
#left li:nth-child(3) .bg{background-image: url(../images/page045/a3.png)}
#left li:nth-child(4) .bg{background-image: url(../images/page045/a4.png)}
#left li:nth-child(5) .bg{background-image: url(../images/page045/a5.png)}
#left li:nth-child(6) .bg{background-image: url(../images/page045/a6.png)}
#left li:nth-child(7) .bg{background-image: url(../images/page045/a7.png)}
#left li:nth-child(8) .bg{background-image: url(../images/page045/a8.png)}
#left li:nth-child(9) .bg{background-image: url(../images/page045/a9.png)}
#left li:nth-child(10) .bg{background-image: url(../images/page045/a10.png)}
#left li:nth-child(11) .bg{background-image: url(../images/page045/a11.png)}
#left li:nth-child(12) .bg, #left .init .bg{background-image: url(../images/page045/a12.png)}

#right{width: 288px;height: 479px;background: url(../images/page045/b_bg.png) no-repeat 0 0/auto 100%}
#right .icon-hand{left: 30px}
#right .overlay{background-image: url(../images/page045/b_over.png)}
#right li:nth-child(1) .bg{background-image: url(../images/page045/b1.png)}
#right li:nth-child(2) .bg{background-image: url(../images/page045/b2.png)}
#right li:nth-child(3) .bg{background-image: url(../images/page045/b3.png)}
#right li:nth-child(4) .bg{background-image: url(../images/page045/b4.png)}
#right li:nth-child(5) .bg{background-image: url(../images/page045/b5.png)}
#right li:nth-child(6) .bg, #right .init .bg{background-image: url(../images/page045/b6.png)}

#layer1{width: 60%;right: 127px}
