@charset "utf-8";

#wrap{background-image: url(../images/page043/bg.jpg)}
.para{word-break: keep-all;}
.col-auto{margin-top: 91.5px;margin-left: 12.5px;}

.bottom-content{width: 668px;height: 734px;}
.box1,.box2,.box3{position: absolute;}
.box1{width:114.5px; height: 139.5px; top:599px; left: 89px; }
.box2{width: 141.5px; height: 142.5px; top:356px; left: 161.5px;}
.box3{width: 166.5px; height: 150px; top: 310.5px; left: 421px;}

.icon-hand{z-index: 1;}
.hand1{left: 134px;top: 497px;}
.hand2{left: 176px;top: 257px;}
.hand3{left: 405.5px;top: 215.5px;}
.icon-hand.re{margin-top: 0px} 
.hand1.re{left: 153px;top: 527px}
.hand2.re{left: 140.5px;top: 290px}
.hand3.re{left: 371.5px;top: 240px}

.inter-box{position: relative;height:755.5px;}
.side-btns{top:350px}
.font-dt.text1,.font-dt.text2,.font-dt.text3{position: absolute;font-size: 15px;}
.text1{top:52.5px;left: 25.5px;}
.text2{top:69px;left: 27.5px;}
.text3{top:60.5px;left: 56px;}

#layer1 {width: 218px;height: 200.5px;top: 572px;left: -14.5px;pointer-events: none;background: url(../images/page043/largebubble01.png) no-repeat 0 0/100% auto}
#layer2 {width: 262px;height: 213px;top: 289px;left: 46px;pointer-events: none;background: url(../images/page043/largebubble02.png) no-repeat 0 0/100% auto}
#layer3 {width: 262.5px;height: 234px;top: 226.5px;left: 392px;pointer-events: none;background: url(../images/page043/largebubble03.png) no-repeat 0 0/100% auto}

