@charset "utf-8";

#wrap {background-image: url(../images/page125/bg.jpg);}
.bottom-content {bottom: -9px;}
.bottom-content .text-mark {margin-left: 52px;}
.icon-btn-video {position: absolute; right: 48px;}