@charset "utf-8";

.word-bubble button {position: absolute}
.bubble-box1{width: 111px;height: 65px;background-image: url(../images/page120/b1.png);padding-top: 10px}
.bubble-box2{width: 133px;height: 80px;background-image: url(../images/page120/b2.png);padding-top: 20px}
.bubble-box3{width: 96px;height: 57px;background-image: url(../images/page120/b3.png);padding-top: 17px}
.bubble-box4{width: 199px;height: 114px;background-image: url(../images/page120/b4.png);padding-top: 13px}
.bubble-box5{width: 138px;height: 84px;background-image: url(../images/page120/b5.png);padding-top: 12px}
[class*=bubble-box]{line-height: 20px; font-size: 20px}
