@charset "utf-8";

.interaction {position: relative;height: 451px;}
.order-inter-btn, .order-inter-content>div{width: 391px;height: 225px;position: absolute;top: 185px;left: 184px;}
.order-inter-content>div{font-size: 15px; line-height: 24px; font-weight: 700;}
.order-inter-content>div:not(.active){display: none}
.fwd3 {font-size: 20px; color: #425e89;}
.char-txt {position: absolute; width: 389px;}
.char-txt .col-auto {margin-right: 10px;}
.char{position: absolute; left: -120px; top: -6px; width: 96px; height: 65px;animation: fadein 1s .5s both;display: none}
.motion-end>.char{display: block}
.order1 .char{top:78px; background: url(../images/page131/char2.png) no-repeat 0 0 / 100% auto}
.order2 .char{top:160px; background: url(../images/page131/char3.png) no-repeat 0 0 / 100% auto}
.explanation.layer-limit {width: 202px;}
.last {margin-top: 27px;}