@charset "utf-8";

#wrap{background-image: url(../images/page116/bg.jpg)}
.ch-2-title{align-items: flex-start;line-height: 1.5;margin-bottom: 3px;}
.word-bubble .fwd.font-mi{font-size: 24px;}
.word-bubble .icon-btn-video{position:absolute;left:54.5px;top:79.5px;}