@charset "utf-8";

.col-wide {flex: 0 0 531.5px; min-width: 531.5px; font-size: 16px; line-height: 30px; margin-right: 23px;}
.fwd1 {font-size: 16px; text-indent: 0; color: #fff;}
.fwd2 {font-size: 17px; text-indent: 0;}
.text-box {width: 242px; font-size: 14px; line-height: 20px; text-indent: 0.4em;}
.fwd3 {letter-spacing: -0.01em;}
.icon-btn-audio {position: absolute;}
.explanation.layer-limit {width: 239px;}
.word-bubble{margin-top: -5px}
