@charset "utf-8";

.icon-btn-pencil{position: absolute;right: 0;top:0}
.w313{width:313px; line-height: 30px;font-size:16px !important;}
.dic-left .dic-left .explanation:before {left: 4px;}
.dic2 .explanation.layer-limit {width: 239px;}
#layerSelfWrite{margin-top: -80px}
