@charset "utf-8";

#wrap{background-image: url(../images/page044/bg.jpg)}
.para2 {letter-spacing: -0.02em;}
.ohyes-title {margin-top: 32px;}
.icon-btn-pencil {position: absolute; right: 0;}
.q-label-wrp::before {display: none;}
.icon-hand{position: absolute; left: 618px; top: 834px;}
.btn-inter-reset{position: absolute; left: 603px; top: 842px;}
#interFadeIn {position: absolute; left: 323px; top: 633px;}
.bubble {position: absolute; font-size: 20px; line-height: 20px; text-align: center;}
.bubble.box1{width:133px;height:116px;background: url(../images/page044/b1.png) no-repeat 0 0 / 100% auto; padding-top: 16px}
.bubble.box2{width:122px;height:106px;background: url(../images/page044/b2.png) no-repeat 0 0 / 100% auto; padding-top: 15px}
