@charset "utf-8";

#wrap {background-image: url(../images/page043/bg.jpg);}
.top-content {justify-content: space-between;}
.top-content .col-wide {flex: 0 0 488px;}
.layer-ttakji .drag-fix {width: 176px; height: 121px; font-size: 12px; line-height: 20px; font-weight: 500; padding: 21px}
.dragdrop .drop-fix {position: absolute; width: 200px; height: 90px;font-family: 'KoPubDotum',sans-serif !important; background: rgba(255, 255,255 ,.1); border: 1.5px dashed #ff0000; border-radius: 5px;}
.drop-fix.ui-droppable-disabled {height: 92px; display: flex; align-items: center; justify-content: center; font-size: 12px; line-height: 17px; text-indent: 1.2em; text-align: center; padding: 0 21px; border: 1px solid #000; background: rgba(255, 255, 255, .7); border-radius: 8px; text-align: center;}
.dragdrop div:nth-child(1) .drop-fix.ui-droppable-disabled {padding: 0 27px;}
.bx.border-ylw {height: 107px; width: 156px; border: 2px solid #eda270; border-radius: 5px; padding: 10px 8px; margin-top: 5px;}
.bx.border-ylw p {font-size: 13px; line-height: 21px;}
.icon-btn-refresh {position: absolute; right: 0;}
.btn-subject {margin-top: 201px; }
.verify .lst-type-num li:first-child .q-label-wrp::before{display: none;}
.verify .q-label span {font-weight: 500}