@charset "utf-8";

#wrap {background-image: url(../images/page050/bg.jpg);}
.icon-num {width: 22px; height: 25px; background: url(../images/page050/num3.png) no-repeat 0 0 / 100% auto; text-align: center; vertical-align: middle; font-size: 15px; font-weight: 700; color: #fff; text-indent: 0;line-height: 24px;}
.box2 .icon-num {background: url(../images/page050/num4.png) no-repeat 0 0 / 100% auto;}
.side-btns {position: relative; margin-left: 5px; margin-top: -3px;}
.word-bubble {padding-top: 90px; padding-left: 98px;}
.box2 .word-bubble {padding-top: 91px; padding-left: 0px;}
.word-bubble button {position: absolute}

.table-round-wrp {width:565px;border:1px solid #b9cbd4; margin: 0; margin-left: 62px;}
.table-round-wrp .tb tr>th {background: #e9f2f6;}
.table-round-wrp .tb tr>* {border-color: #e9f2f6;}
.table-round-wrp .tb thead tr>* {border-color: #fff;}
.tb tr>td {padding: 14px 15px; height: 40px;}
.tb thead {max-height: 40px;}
.box2 .text-wrp {bottom:-38px}
.box2 textarea {width: 590px; height: 127px; margin: 0 auto;}
#layer1, #layer2 {width: 466px}
.layer {z-index: 10;}
.box2 {margin-top: 55px;}
.box2 img {margin-left: 104px;}
[class*=bubble-box] {font-size: 20px; line-height: 20px;}
.bubble-box1 {width: 130px; height: 80px; background-image: url(../images/page050/b1-1.png);padding-top: 8px}
.bubble-box2 {width: 121px; height: 74px; background-image: url(../images/page050/b1-2.png);padding-top: 4px}
.bubble-box3 {width: 105px; height: 67px; background-image: url(../images/page050/b1-3.png);padding-top: 14px}
.bubble-box4 {width: 146px; height: 91px; background-image: url(../images/page050/b1-4.png);padding-top: 14px}
.bubble-box5 {width: 145px; height: 91px; background-image: url(../images/page050/b1-5.png);padding-top: 12px}

.bubble-box6 {width: 100px; height: 60px; background-image: url(../images/page050/b2-1.png);padding-top: 9px}
.bubble-box7 {width:127px; height: 76px; background-image: url(../images/page050/b2-2.png);padding-top: 17px}
.bubble-box8 {width: 128px; height: 80px; background-image: url(../images/page050/b2-3.png);padding-top: 9px}
.bubble-box9 {width: 138px; height: 78px; background-image: url(../images/page050/b2-4.png);padding-top: 16px}
.bubble-box10 {width: 147px; height: 92px; background-image: url(../images/page050/b2-5.png);padding-top: 11px}
