@charset "utf-8";

#wrap {background-image: url(../images/page044/bg.jpg);}
[class^=num-circle] {width: 20px; height: 20px; text-align: center; font-size: 15px; line-height: 22px; border-radius: 100%; color: #fff; background: #0da470; font-family: 'KoPubDotum',sans-serif;}
.word-bubble [class^=num-circle] {display: inline-block; font-size: 12px; width: 15px; height: 15px;line-height: 17px;}
.num-wrap [class^=num-circle] {position: absolute;}
.red {background: #c46463;}
.ylw {background: #e39724;}
.org {background: #e26224;}
.num-wrap li:nth-child(1) {left:332px; top:454px}
.num-wrap li:nth-child(2) {left:345px; top:566px}
.num-wrap li:nth-child(3) {left:530px; top:509px}
.num-wrap li:nth-child(4) {left:562px; top:535px}
.word-bubble button {position: absolute;}
.fwd1 {font-size: 12px; color: #fff;}
.fwd2 {font-size: 12px; line-height: 18px; width: 185px;}