@charset "utf-8";

.btn-game-refresh{display: none}
.icon-game-start{position: relative;width: 53px;height: 53px;background-image: url(../images/common/arrange/btn_start_on.png)}
.icon-game-start:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: url(../images/common/arrange/btn_start_motion.png) no-repeat 0 0/auto 100%;animation: flash 1s both 2}
.start .icon-game-start, .ready .icon-game-start{background-image: url(../images/common/arrange/btn_start_off.png);pointer-events: none}
.start .icon-game-start:before, .ready .icon-game-start:before{display: none}

/* 퀴즈팝업 */
.modal-quiz{opacity: 1;background: none}
.modal-quiz .quiz{position: relative;min-width: 290px;background: #fff;border-radius: 20px;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);padding: 35px 35px 30px;animation: flipInX 1s both}
.modal-quiz .quiz:before{content: '';position: absolute;top: 4px;left: 4px;bottom: 4px;right: 4px;border-radius: 20px;border: 3px dashed #dee2e6;pointer-events: none}
.modal-quiz .answered .tx-a{font-size: 12px}
.consonant{display: inline-flex;vertical-align: middle;position: relative}
.consonant .form-control{width: 30px;height: 30px;margin-right: 5px;text-align: center;border-width: 2px}
.consonant .tx-a{position: absolute;top: 100%;left: 0;right: 0;text-align: center;margin-top: 5px}
.quiz-list{width: 100%;height: 100%;display: flex}
.quiz-list>li{display: none;width: 100%;min-height: 100%;flex-direction: column}
.quiz-list>.active{display: flex}
.quiz-text{font-weight: 700;flex: 1}
.quiz-buttons{flex-shrink: 0;padding-top: 35px;text-align: center}
.quiz-buttons .btn{position: relative;display: inline-block;min-width: 104px;vertical-align: top;font-family: 'KoPubDotum',sans-serif !important;box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);border-radius: 30px;font-size: 15px;line-height: 34px;height: 34px;color:#fff;font-weight: 700;padding: 0 17px 0 35px}
.btn-orange{background: linear-gradient(#ffb422,#ffa713)}
.btn-mint{background: linear-gradient( -90deg, rgb(7,193,187) 0%, rgb(0,181,175) 100%)}
.quiz-buttons .btn>i{position: absolute;width: 26px;height: 26px;left: 4px;top: 3px}
.icon-quiz-chk{background-image: url(../images/game/icon-quiz-chk.png)}
.icon-quiz-close{background-image: url(../images/game/icon-quiz-close.png)}
.quiz-buttons .icon-btn-refresh{position: absolute;top: 10px;right: 10px}
.quiz-buttons .btn-mint, .quiz-buttons .icon-btn-refresh, .answered .quiz-buttons .btn-orange{display: none}
.answered .quiz-buttons>*{display: block;margin: auto}

/* 단순 사다리 */
.simple-ladder{text-align: center}
.simple-ladder .top, .simple-ladder .bottom{display: flex;justify-content: space-between}
.simple-ladder .ladder{display: inline-block;vertical-align: top;position: relative;margin: 15px 0}
.lodder-result{position: relative}
.lodder-result>*{opacity: 0}
.lodder-result:after{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;border: 1px solid #bfcbd0;border-radius: 6px;background: #fff}
.lodder-line{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: none}
.lodder-line.on{display: block}
.lodder-line.hidden{opacity: 0}
.lodder-line>svg{position: absolute}
.lodder-result.on:after{opacity: 0;transition: opacity 1s}
.lodder-result.on>*{transition: opacity 1s;opacity: 1}
.ladder-check:checked+label, .ladder-check:disabled+label{pointer-events: none}
.lodder-line .path{animation: dash 5s linear forwards;fill: none;stroke-linecap: round;stroke-width: 6px;fill-rule: evenodd;}
@keyframes dash {
    to {
       stroke-dashoffset: 0;
     }
}
