@charset "utf-8";

#wrap{background-image: url(../images/page013/bg.jpg)}
.word-bubble{height:624px;}
.text-mark{text-shadow: 1px 1px 1px #fff}
[class*=fwd]:not(.font-mi){width: 272px;text-indent: 1em;line-height: 1.6777;letter-spacing: -.001em}
[class*=fwd].font-mi{font-size: 21px;line-height: .95238;}