@charset "utf-8";

#wrap{background-image: url(../images/page028/bg.jpg)}
.bottom-content .slider-wrap {margin-left: auto; width: 512px; margin-top: 20px;}
.swiper-button-next, .swiper-button-prev {top: 41%;}
.swiper-slide .img-tit {position: absolute;left: 0; bottom: 15px; font-size: 14px; width: 100%;}
#layerSelfWrite{left: -15px}
