@charset "utf-8";
#wrap{background-image: url(../images/page018/bg.jpg)}
.ch-2-title .second-line {margin-left: 72px;}
.ch-2-hd {margin-bottom: 34px;}
.top-content .col-wide {flex: 0 0 422px; width: 422px;}
.top-content {align-items: flex-start;}
.top-content .img-tit {font-size: 12px; line-height: 23px; width: 216px; margin-top: 4px;}
.top-content .img-tit strong {font-size: 13px;}

.interaction [class*=bubble-box] {text-indent: 2em; font-size: 14px; line-height: 22px; text-align: justify;}

.interaction .bubble-box1 {width: 217px;}
.interaction .bubble-box2 {width: 205px; text-indent: 2.4em;}
.interaction .bubble-box3 {width: 163px;height: 96px;background-image: url(../images/page018/bubble.png);padding-top: 16px; font-size: 20px; line-height: 18px; text-align: center; text-indent: 0;}
.interaction .bubble-box4 {width: 198px; text-indent: 1em;}
.interaction button {position: absolute;}
.icon-hand.re{background-position: 50% 50%}
