@charset "utf-8";

.ch-2-hd{margin: -1px 0 38.5px;}
.ch-2-title {margin-top: 4px;margin-bottom: 19px; font-size: 36px;line-height: 50px;letter-spacing: -0.025em;}
.ch-2-title strong{font-size: 50px;vertical-align: unset;}
.btn-icon{margin: -1px 1px;}
.ch-2-hd+.row{margin-left: -6px;}
.para-title{margin-bottom: 2px;}
.para{line-height: 32px;text-indent: 0.905em;letter-spacing: 0.01em;}
.sect-do-activity{margin-top: -4px;}
.sect-hd{padding: 45px 30px 1px 70px;}
.sect-title{padding-left: 2px;line-height: 23px;}
.slider-wrap{width: 457px}
.img-wrap{display: inline-block;vertical-align: top;position: relative}
.img-wrap [class*=fwd].font-mi{line-height: 18px}
.img-wrap .fwd:not([class*=font]){width: 215px;text-indent: 1em;line-height: 25px;text-align: justify}
.img-wrap [class*=fwd].font-netmarble{letter-spacing: -.025em}
.qbox{position: relative;width: 204px;border-radius: 10px;border: 1px solid #d7dee2;padding: 10px}
.qbox>p{font-size: 15px;text-indent: 1em;line-height: 25px;margin-bottom: 10px}
#textarea_022_01{height: 155px}
.side-btns{top: auto;bottom: 100%;margin-bottom: 7px}
.qbox:before{content: '';position: absolute;width: 55px;height: 62px;background: url(../images/page022/ch.png) no-repeat 0 0/100% auto;bottom: 100%;left: 4px}
.layer-wrp-inter{bottom: 100%;margin-bottom: 40px;left: 60px}
.bubble-box1{width: 307px;height: 145px;background-image: url(../images/page022/bubble.png);left: -163px; top: -169px;font-size: 20px;line-height: 18px;padding-top: 25px}
