@charset "utf-8";

.nav-step {justify-content: flex-end; margin: 22px 38px 22px 0;}
.sect-do-explore {margin-top: 32px;}
.text-mark{margin-top:17px;margin-bottom: 11px;}
.text-mark>[class*=icon]:first-child{margin-right:6px}
.text-circle{margin-top: 3px;}
.layer-side-chk+.layer-side-chk{margin-top: 30px}
.img-box{display: flex;justify-content: space-between;margin: 29px 36px 28px 0;}
.img-box .text-circle{position:absolute;top:14px;left:8px;margin-top: 0}
.img-box .font-mi{position:absolute;font-size: 21px;line-height: 18px;font-weight: 400;letter-spacing: -.025em;text-align: center;}
.img-box textarea{position:absolute;bottom: 12px;left: 47px;width: 118px;height: 71px}
.icon-btn-help{position: absolute;top: 0;right: 0}

.media-title{letter-spacing: .005em;}
.sect-do-content{padding-right:0;padding-left: 68px;}
.sect-do-content .numbering>.num{width:17px}
.layer-side-chk .media-body [class*=icon-btn], .layer-side-chk .media-body .layer{right:-29px}
.form-overlay{margin-left: 3px;}
.ex-bx {position: relative; margin-top: 28px;}
.ex-bx .font-serif p {position: absolute; font-size: 16px;}
.ex-bx .label-ex{position: absolute;top: -8px;left: 18px}

/* .q-bx {background: url(../images/page015/q-bx.png) no-repeat 0 0 / 100% auto;margin-top: 20px; }
 */
.q-bx {background: url(../images/page015/q-bx.png) no-repeat 50% 50% / 100% auto; margin-top: 20px; margin-right: 40px; padding: 23px 30px 23px 20px;}
.q-bx li{display: flex;align-items: center;padding-left: 10px;}
.q-bx li+li{margin-top:18px;}
.q-bx li input{height: 38px; margin-left: 10px;}
.q-bx .lst-type-bull>li {padding-left: 10px;}
.q-bx .lst-type-bull>li:before{top:.9em;width:6px;height:6px;background:#95a9b3}
.lst-type-dash li{padding-left:0.893em;position: relative;line-height: 24px;}
/* .lst-type-dash li+li{margin-top: 0;} */
.lst-type-dash li::before{content:"-";}

.box-wrp {position: relative; margin-left: 18px;}
.box-wrp p {position: absolute; font-size: 15px; line-height: 22px;}
.box-wrp img.bubble {position: absolute;}
.box-wrp .font-mi {text-align: center; font-size: 21px; line-height: 18px; letter-spacing: -0.018em;}
.box-wrp .font-dt {font-size: 14px;}
