@charset "utf-8";

#wrap{background-image: url(../images/page019/bg.jpg)}
.tab-wrp {margin-top: 10px;}
.nav {justify-content: flex-start; margin-left: 9px;}
.nav-tabs [class*='tab'] {justify-content: flex-start; border: none; min-width: 179px; height: 59px; background: url(../images/page019/flag01_off.png) no-repeat 0 0 / 100% auto; box-shadow: none;}
.nav-tabs button:nth-child(2) {background: url(../images/page019/flag02_off.png) no-repeat 0 0 / 100% auto}
.nav-tabs button:nth-child(3) {background: url(../images/page019/flag03_off.png) no-repeat 0 0 / 100% auto}

.nav-tabs .active {border: none; padding: 0; background: url(../images/page019/flag01_on.png) no-repeat  0 0 / 100% auto}
.nav-tabs .tab2.active {background: url(../images/page019/flag02_on.png) no-repeat  0 0 / 100% auto}
.nav-tabs .tab3.active {background: url(../images/page019/flag03_on.png) no-repeat  0 0 / 100% auto}
.nav-tabs button:not(:first-child) {margin-left: 18px;}
.text-box {width: 484px; font-size: 15px; line-height: 23px; text-indent: 1em;}
#tab1 .text-box {margin-top: 20px; margin-left: 8px;}
#tab3 .text-box {margin-top: 15px; margin-left: 10px; width: 472px;}

.word-bubble [class^=font-]{position:absolute;top:0;left:0;}
.word-bubble .font-netmarble{font-size: 17px;}
.word-bubble .font-serif{font-size:15px; color:#0075b3; font-style: italic;}
.word-bubble .font-dt{font-size: 15px;}
.word-bubble button {position: absolute;}
.layer-transparent {position: absolute;}
[class*=map-line]{background-repeat: no-repeat;background-size: 100% auto;background-position: 50% 50%;animation: scale 1s;transform-origin: center bottom}
#tab1 .map-line-1{width: 64px;height: 132px;background-image: url(../images/page019/arrow_1-1.png)}
#tab1 .map-line-2{width: 370px;height: 320px;background-image: url(../images/page019/arrow_1-2.png); animation: height 2s both linear;transform-origin: center;}
#tab2 .map-line-1{width: 371px;height: 424px;background-image: url(../images/page019/arrow_2-1.png)}
#tab2 .map-line-2{width: 25px;height: 80px;background-image: url(../images/page019/arrow_2-2.png); animation: height 2s both linear;transform-origin: center;}
#tab3 .map-line-1{width: 63px;height: 182px;background-image: url(../images/page019/arrow_3-1.png)}


/* @keyframes height {
    0%{transform: scaleY(0);}
    100%{transform: scaleY(1);}
} */
@keyframes height {
    0%{height: 0;}
    100%{height: 320px;}
}

@keyframes scale {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
