@charset "utf-8";

#wrap{background-image: url(../images/page020/bg.jpg)}
.icon-btn-pencil {position: absolute; right: 0; top: 0;}
.ohyes-title {margin-bottom: 28px;}
.para {line-height: 27px;}
.img-tit> * {position: absolute;}

.fwd2 {line-height: 22px;}
.fwd3 {font-size: 16px; font-weight: 700;}
.fwd4 {font-size: 12px;}