@charset "utf-8";

[class*=arrange-label]{width:115px}
[class*=arrange-label]:before{height: 30px;}
.arrange-answer{line-height: 1.6em;}
.arrange-test .form-control{max-width: 100px !important;}
.arrange-label-line{margin-right: 10px;width:110px;height:42px;}
.media+.media{margin-top:12px;}
.media3 .arrange-label{margin-right: 14px;}
.diagram ul+ul {margin-top:33px}
.diagram .box{display: flex; justify-content: center; align-items: center; min-height:122px;padding: 10px 0;background: #c8e6ed;text-align: center;line-height: 25px}
.diagram .box .form-control{max-width: 80px !important;}
.diagram .arr {display: inline-block; margin:0 4px;}
.media5 .fwd{font-size: 14px !important;}
.i1{left:-25px;top:12px}
.i2{left:115px}
.i3{left:50%;top:-30px;transform: translateX(-50%);}
.i4{left:115px}
.i5{left:50%;top:-50px;transform: translateX(-50%);}
.i6{left:32px;top:-45px}
.i7{left: 115px;}
.i8{left:-25px;bottom:-20px}

.bx-rule{
    padding:20px 15px;
    background: url(../images/page034/q-bg.jpg) no-repeat 50% 50% / cover;
    border-radius: 10px;
}
.w80 {width: 80px!important;}
.form-control.w80{display: inline-block !important;}
.fwd4 {font-size: 25px;}
.fwd5 {font-size: 20px;}
#final_034_03 .bx{line-height: 40px}
#text_034_24{width: 120px}
