@charset "utf-8";

#wrap{background-image: url(../images/page011/bg.jpg)}
.content{position: absolute;top: 185px;left: 421px;width: 201px;line-height: 27px;}
.content .font-netmarble{font-size: 18px;line-height: 16px;margin-bottom: 10px}
.content .text-indent{font-weight: 700;}
.content .text-indent+div{padding: 133px 0 0 2px;}
.icon-face-wh{float:left;margin: 6px 6px 0 5px}
.wrapper>.font-serif{top: 182px;left: 63px;font-style: italic;letter-spacing: 5px;}

.heritage{position: absolute}
.heritage img{max-width: none}
.heritage:before{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: url(../images/page011/q1_line.png) no-repeat 0 0/100% auto;animation: flash 1s both}
.heritage.correct:after{content: '';position: absolute;width: 88px;height: 88px;border: 4px solid red;top: 50%;left: 50%;margin: -44px;border-radius: 100%}
