@charset "utf-8";

#wrap{background-image: url(../images/page014/bg.jpg)}
.word-bubble{height:500px;}
.word-bubble>span{position:absolute;font-size:15px;color:#fff;letter-spacing: -0.25px;}
[class*=fwd].font-mi{line-height:.9;}
.dic2 .explanation.layer-limit {width: 235px;}
.fwd1 {font-size: 12px; line-height: 23px; text-align: right;}
.ch-2-hd {margin-bottom: 17px;}
#layerSubject{right: -18px}
.dic-right .explanation{right: -4px}
[class*=fwd].font-netmarble{font-size: 12px;line-height: 15px}
