@charset "utf-8";

#wrap{background-image: url(../images/page012/bg.jpg)}
.btn-ch-idea{margin: 94px 2px 0 auto;}
.ch-goal-list{width: 390px;}
.ch-1-bubble{letter-spacing: -.016em;}
.think-title{width: 488px}
.char-name{display: block;width: 32px;margin: 10px auto 0;position: static;background: #6c7582}
.simple-ladder{margin-top: 20px;padding: 0 20px}
.lodder-line svg{top: 5px;left: 4px}
.lodder-line:nth-child(2) svg{top: 10px}
.cls-1{stroke: #75e94d}
.cls-2{stroke: #277bd6}
.cls-3{stroke: #f50068}
