@charset "utf-8";

#wrap{background-image: url(../images/page030/bg.jpg)}
.col-auto{width: 320px}
.text-dot{padding-left: 15px;margin-bottom: 0;line-height: 25px}
.text-dot:before{float: left;margin: 6px 0 0 -15px}
.box{background: rgba(255,255,255,.8);padding: 12px;border-radius: 10px;border: 1px solid #c6cacd}
.box .icon-hand{width: 26px;height: 25px}
.row .box{display: inline-block;vertical-align: top;margin-top: 10px;padding: 10px 12px}
.interaction{position: absolute;top: -50px;right: -50px;bottom: -60px;left: -50px;pointer-events: none;background: url(../images/page030/img.png) no-repeat 0 0/100% auto}
.interaction .box{position: absolute;width: 308px;line-height: 27px;top: 535px;left: 85px;display: none}
.interaction>span{position: absolute;font-size: 15px}
.interaction .font-ka{letter-spacing: -.025em}
.wrapper>.icon-hand{position: absolute;top: 700px;left: 400px}
.interaction.active{background: none}
.interaction.active .box{display: block}
.interaction.active>span{display: none}
.wrapper>.icon-hand.re{top: 555px;left: 335px}
