@charset "utf-8";

#wrap{background-image: url(../images/page026/bg.png)}
.ch-2-title {margin-bottom: 9px;padding: 4px 0 15px;letter-spacing: -.035em;line-height: 1.2;}
.ch-2-title strong{vertical-align: unset;font-size: 50px;}
.ch-2-title span span{padding-left: 72px;letter-spacing: -0.025em;}

.para {text-indent:.9em}
.para>.para{display: inline-block;text-indent: 0;margin-left: -179px;}
.bottom-content .word-bubble{margin-right: -5px;}
.fwd3{position:absolute;font-size:15px;color:#fff;letter-spacing: -.025em}
[class*=fwd].font-mi{line-height:.9;}

.ch-2-hd{margin-bottom:21px;}
.img-wrp {position:relative;margin-top:7px;}
.img-wrp >*:not(img){position:absolute;top:0;left:0;}
.img-wrp .font-serif{font-size:11px;color:#0075b3;font-style: italic;}
#modalEnlarge .img-wrp .font-serif{font-size:16px;}
.img-wrp .font-netmarble{font-size: 13px;color: #6c2831;}
#modalEnlarge .img-wrp .font-netmarble {font-size: 20px;}
.img-wrp .font-dt{font-size: 11px;}
#modalEnlarge .img-wrp .font-dt{font-size: 17px;}
.top-content .col{padding-left:20px;}
.para-title{margin-bottom:2px}
[class*=fwd]{width: 199px;font-size: 15px;line-height: 1.533;text-indent: 0.9em;letter-spacing: -.01em;}
[class*=fwd].font-mi{width:auto;line-height: .9;}
[class*=fwd] .fwd{display: block;position:relative;width:auto;}
.fwd1{width: 441px;text-indent: 1em;line-height: 1.666667;letter-spacing: 0;}
.fwd1 .fwd{width:345px;text-indent: 0;line-height: 1.666667;letter-spacing: 0; text-indent: 1em;}
