@charset "utf-8";

#wrap{background-image: url(../images/page058/bg.jpg)}

.ch-2-title {line-height: 52px;}
.interaction {position: relative; width: 100%; height: 400px; margin-top:88px}
.text-dot { position: absolute; font-size: 13px; }
.compass {position: absolute;}