@charset "utf-8";

/* #wrap{background-image: url(../images/page077/bg1.jpg)} */

.varied-header .icon-btn-video {margin-left:345px; margin-top:-5px}
.word-bubble {margin-top:6px; margin-left:-13px}
.fwd.font-dt { text-align: center; text-indent: 0;}