@charset "utf-8";

#wrap{background-image: url(../images/page012/bg.jpg)}
.ch-ani{position: absolute;top: -24px;right: 73px;animation: fadeIn 2s both}
.ch-ani img{animation: bounce 2.5s infinite both}
@keyframes bounce{
    0%{transform: rotate(-10deg)}
    50%{transform: rotate(10deg)}
    100%{transform: rotate(-10deg)}
}

.think-title .font-dt {padding-top:4px;text-shadow: -1px 0px rgba(255,255,255,0.8), 0px 1px rgba(255,255,255,0.8), 1px 0px rgba(255,255,255,0.8), 0px -1px rgba(255,255,255,0.8);}


/* .modal {background: url(../images/page012/bg1.jpg) no-repeat 50% 50% /100% auto}
.modal-content, .modal-body {background: none;} */
.modal .media-title {margin-top:28px}
.ladder-wrp .top,
.ladder-wrp .bottom { display: flex; justify-content:space-between; padding:0 49px 0 35px;}
.ladder-wrp .bx {position: relative; display: flex; justify-content: center; align-items: center; width:120px; height:225px; padding:0}
.ladder-wrp .top .bx {padding-top:40px}
.ladder-wrp .top .bx-top { position: absolute; top:0; left:0; width:100%; background: #ddd; border-radius: 5px 5px 0 0; text-align: center;}
.ladder-wrp .bottom .bx {height:200px}
