@charset "utf-8";

#wrap{background-image: url(../images/page060/bg.jpg)}
.bottom-content{bottom:17px}
.icon-hand{position: absolute;bottom:25px;right:87px;z-index: 99;}
.layer{position: absolute;top:0;left:0;right:0}
.fwd.font-mi{font-size: 21px;line-height: 20px;z-index: 999;}