@charset "utf-8";

#wrap{background-image: url(../images/page055/bg.jpg)}
.word-bubble{position: relative;top:102px;text-align: center;}
.text-mark p.col{text-shadow: -1px 0px rgb(255 255 255 / 80%), 0px 1px rgb(255 255 255 / 80%), 1px 0px rgb(255 255 255 / 80%), 0px -1px rgb(255 255 255 / 80%);}
.word-bubble .fwd.font-mi{font-size: 21px;line-height: 20px;letter-spacing: -0.02em;}