@charset "utf-8";

#wrap{background-image: url(../images/page083/bg.jpg)}
.form-control {position: absolute; left: 176.5px; top: 61px; width: 331px}
.painting-area {position: absolute; left: 94.5px; top: 193.5px}
.icon-btn-penwrite {position: absolute; left: 502px; top: -0.5px}