@charset "utf-8";

#wrap{background-image: url(../images/page061/bg.jpg)}
.content-top {display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end}
.interaction {position: relative; margin-top: 74px}
.interaction .btn-subject {position: absolute; left: 161px; top: 353px}
[class^=fwd] {text-indent: 0}
.fwd1 {text-align: center; font-size: 16px; color: #fff}
.fwd2 {font-size: 12px; font-weight: 700; color: #f50068}
.fwd3 {font-size: 11px; font-weight: 700}
.fwd4 {font-size: 12px; font-weight: 700; font-style: italic; line-height: 12px; color: #2f94d1}
.painting-area {position: relative}
.interaction .icon-btn-pencil {margin-left: 164px}
#layerSelfWrite{bottom: -270px}
.tx-a.circle{width: 70px;height: 112px;}
.t1{top: 111px;left: 298px;transform: rotate(-15deg)}
.t2{bottom: 198px;right: 95px;transform: rotate(-20deg);}
.inform{position: absolute;top: 317px;left: 25px}
.legend{position: absolute;bottom: 24px;left: 18px}
.legend .box{background: #fff;border: 1px solid #dbdbdb;padding: 10px 15px;font-size: 14px;line-height: 16px}
[class^=icon-legend]{width: 21px;height: 12px;border: 1px solid #000}
.icon-legend-1{background: #b40410}
.icon-legend-2{background: #e94630}
.icon-legend-3{background: #f0864b}
.icon-legend-4{background: #f8be85}
.icon-legend-5{background: #fee8a9}
.icon-legend-6{background: #fef6dd}
.legend-img{position: absolute;top: 0;left: 0;width: 630px;display: none}
.interaction .icon-btn-refresh{position: absolute;top: 40px;right: 56px;display: none}
.show~.icon-btn-refresh{display: block}
.bubble-box1{width: 209px;height: 125px;background-image: url(../images/page061/b1.png);padding: 24px 5px 0 0;font-size: 20px;line-height: 20px}
.layer-transparent{position: static}
.tx-a.circle{width: 67px;height: 100px;transform: rotate(-15deg);}
.icon-hand.re{background-position: 50% 50%}
