@charset "utf-8";

/* 페이지 */
#num>span{background: #21b8c5}

/* 텍스트 */
.icon-pencil{background-image: url(../images/lesson/textarea_pencil.png)}

/* 중단원 */
.ch-1-hd{padding-left: 155px;}
.btn-ch-idea{margin: 80px 0 0 auto}
.ch-goal{padding-left: 155px;width: 100%;}
.ch-goal-title{color: #143861}
.ch-goal-title>span{color: #00a5b1}
.think-title>strong{width: 75px;height: 59px;background-image: url(../images/lesson/page-think-label_pt01.png)}
.think-title .font-dt{padding: 15px 0 0 18px}
.ch-goal-list>li{width: 100%;border-top: 0;font-size: 15px;font-weight:400;position: relative;padding: 0 0 12px 22px;text-indent: 0;line-height: 22px}
.ch-goal-list>li::before{content:"";position: absolute;left:0;top:1px;width:13px;height: 13px;border:4px solid #fff;border-radius: 50%;}
.ch-goal-title{margin-left: 0;}
.think-title{margin: 0 0 0 61px}

/* 사회과 부도 */
.btn-social-append{display: inline-block; width:120px;height:32px;background: url(../images/common/btn-social-append.png) no-repeat 0 0 / 100% auto;}