@charset "utf-8";

.interaction-wrp .layer-wrp{position: absolute;}
.layer.layer-transparent{box-shadow: none;margin: 0;padding: 0;background: none; border: 0;right:auto;}
.bubble{background-position: 0 0; background-repeat: no-repeat; background-size: 100% auto;font-size: 13px;line-height: 18px;text-indent: 1em;padding:12px 10px}
#layer1 .bubble{width:124px;height:152px;background-image: url(../images/page019/layer1.png);}
.layer-wrp button{z-index: 99;}
#layer2 .bubble{width:184px;height:129px;background-image: url(../images/page019/layer2.png);padding:12px 59px 12px 14px;}
#layer3 .bubble{width:227px;height:115px;background-image: url(../images/page019/layer3.png);padding:30px 13px 0 50px}

.ab-item{position: absolute;left:0;top:0;font-size: 13px;text-align: center;}
.ab-item dt{font-size: 14px;font-weight: 700;margin-bottom: 5px;}
