@charset "utf-8";

.dragdrop{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.dropzone{width: 511px;height: 445px;padding-top: 56px;background: url(../images/page105/heart.png) no-repeat 0 0/auto 100%;margin: 0 auto 20px}

.dropzone>.row{width: 457px;margin: 0 auto -5px}
.dropzone>.row:not([class*=justify-content]){padding: 0 35px}
.dropzone>.row:not([class*=justify-content])>.col-auto{margin: 0 auto}
.dropzone .text-circle{position: absolute;left: 50%;bottom: 100%;margin: 0 0 5px -9px}
.drop-item{width: 90px;height: 90px;border: 1px solid #a8b6bd;border-radius: 100%;background: #fff}
#layerDragDrop{top: auto;bottom: 100%;right: -30px;margin: 0 0 -27px;width: 668px}
#layerDragDrop .layer-body{padding: 30px 35px 0}
.dragdrop .slider-wrap{padding: 0 40px;margin: 0 -35px}
.dragdrop .swiper-slide{padding: 3px 0}
.badge{position: relative;width: 100px;height: 100px;overflow: hidden;border-radius: 100%;box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);margin: 0 auto;background-repeat: no-repeat;background-size: 100% auto}