@charset "utf-8";

/* .arrange-answer{line-height:30px;} */
[class*=arrange-label]{width:110px;z-index: 2;}
.arrange-label-line{width:90px;margin-right: 10px;}
.line{left:110px}
.form-control.itx{max-width: 80px;}
.lh30{line-height: 30px;}
.w130{width:130px}
.w135{width:136px}
.w150{width:150px}
.wd1>*{text-indent: 0 !important;line-height: 30px !important;}
.arrange-label.position-absolute{left:50%;top:50%;transform: translate(-50%, -50%);}
.label-box{position: relative;}
.label-box .label-box-tit{display: flex;align-items: center;justify-content: center; width:115px;height:44px;border:2px solid #83cad9;border-radius: 5px;position: absolute;left:50%;top:-22px;transform:translateX(-50%);background-color: #fff;font-size: 14px;font-weight: 700;}
.label-box .label-box-body{padding:25px 10px  10px  10px;background:#c8e6ed;}
.label-box .label-box-body .lst-type-dash li{font-size: 15px !important; line-height: 20px !important;}
.lh30{line-height: 30px !important;}
.lst-type-dash li.lh30::before{top:4px}

/* img */
.i1{left:50%;transform: translateX(-50%);top:-36px;z-index: 1;}
.i3{left:-25px;top:32px}
.i5{left:-15px;bottom:-3px}
.i7{left:-15px;bottom:-20px}
.i9{top:-43px;left:50%;transform: translateX(-50%);}

.test-bubble .font-mi{top: 16px;height: 55px}
.sheet-bubble .mark{left: 50%;top: 50%;margin-left: -30px}
#final_110_04 .word-bubble>*:not(img) { position: absolute; font-weight: 700; font-size: 18px;}
#final_110_05 .input-group {display: inline-flex; vertical-align: middle; position: relative;}
#final_110_05 .drop-area .tit{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
#final_110_05 .drop-type-box{width: 85px;height: 42px}
#final_110_07 .bx.drag-area { justify-content: flex-start;}
#final_110_07 .bx.drag-area>div{display: flex; align-items: center;margin:10px 0}
#final_110_07 .drag-area .drag-type-circle {margin-right: 5px;}
#final_110_07 .drop-type-circle{margin:0 10px}

