@charset "utf-8";

#wrap{background-image: url(../images/page090/bg.jpg)}
.col-auto.col1{width: 236px;margin-right: 25px;}
.col-auto.col1 .font-dt{line-height: 23px !important;margin-top:5px;}
.content-wrp{position: relative; height: 600px; margin-top:25px;}
.fwd.font-mi{font-size: 20px !important; line-height: 18px !important;}

.icon-hand {position: absolute; bottom:0;left:350px}
.ch-goal-list>li {font-weight: 400;}
.w286{position: absolute; width:286px; font-size: 15px !important; line-height: 25px}
.bubble {position: absolute; font-size: 20px; line-height: 20px; text-align: center;}
.bubble.box1{width:236.5px;height:148px;background: url(../images/page090/bubble1.png) no-repeat 0 0 / 100% auto; padding-top: 16px; padding-right:10px}
.bubble.box2{width:109px;height:89px;background: url(../images/page090/bubble2.png) no-repeat 0 0 / 100% auto; padding-top: 15px}
