@charset "utf-8";

.w250{width: 250px; line-height: 23px;}
.sect-do-content{padding-right: 15px;}
.word-bubble .fwd.font-dt{font-size: 15px !important; line-height: 25px !important;text-indent: 1em !important;}
.w210{width: 210px;}
.w220{width: 221px;}
.w225{width: 225px;}
.word-bubble .fwd.font-dt.fwd1{text-align: left !important;line-height: 23px !important;text-indent: 0 !important;}
.explanation.layer-limit{width:223px}