@charset "utf-8";

.ohyes-cont-wrp .font-dt.text-indent{line-height: 27px !important;}
.fwd.font-mi{font-size: 20px !important; line-height: 18px !important;}

.icon-btn-video {position: absolute; top:0;left:300px}
.icon-btn-pencil {position: absolute; top:0; right:0}