@charset "utf-8";

.fwd.font-dt{font-size: 15px !important;line-height: 25px !important;}
.fwd.font-mi{font-size: 20px !important;line-height: 18px !important;letter-spacing: -0.02em;}
.w264{width: 264px;color:#486087}