@charset "utf-8";

.ch-2-title {line-height: 51px;}
.w128{width:128px;max-width: 128px;}
.pic-dsc{line-height: 20px;margin-top:10px}
.btn-subject {vertical-align: middle;}
.fwd.font-dt{line-height: 23px !important;}
.fwd.font-mi{line-height: 18px !important;}
.side-btns {right:auto;left:134px;top:-5px}