@charset "utf-8";

#wrap{background-image: url(../images/page109/bg.jpg)}
.position-relative{height: 100%;}
.fwd.font-mi{line-height:18px !important}
.ti0{text-indent: 0 !important;}
.fwd.font-dt{line-height: 23px !important;}
.font-jalnan {text-indent: 0; font-size: 14px; color:#ef7d00}