@charset "utf-8";

#wrap{background-image: url(../images/page092/bg.jpg)}
.w250{width: 250px;}
.text-desc{line-height: 23px;margin-top: 5px;}
.fwd-wrap{padding-bottom: 100%;position: relative;}
.w212{width: 212px;font-size: 14px;line-height: 23px;}
.fwd.font-weight-bold{text-indent: 0;}