@charset "utf-8";

.fwd.font-dt{text-indent: 1em !important;font-size: 14px !important;line-height: 22px !important;}
.fwd.font-dt.ti0{text-indent: 0 !important;}
.fwd.font-dt.fs14{line-height: 22px !important;width:330px}
.w177{width:177px;}

#layerSelfWrite {top:207px; right:-138px}