@charset "utf-8";

#wrap{background-image: url(../images/page120/bg.png)}
.curiosity-hd{display: flex;}
.curiosity-label{width: 155px;height: 82px;background: url(../images/common/curiosity_label.png) no-repeat 0 0/auto 100%;-ms-flex-negative: 0;flex-shrink: 0;margin-right: -11px;}
.curiosity-title{margin-top: 20px;font-size: 21px;color: #213d5d;line-height: 34px}
.curiosity-hd>.col {padding-left: 11px;}

.word-bubble{height: 700px;}
[class*=fwd]{line-height: 23px;}