@charset "utf-8";

#wrap{background-image: url(../images/page123/bg.png)}

.top-content{margin-bottom: 257px;}
.top-content .col-wide{-ms-flex: 0 0 483px;flex: 0 0 483px;max-width: 483px;}

.icon-btn-pencil{position: absolute;top: 0;right: 0;}

.ohyes-wrp{margin-left: 44px;}
.ohyes-text{line-height: 28px;}
.ohyes-wrp .swiper-container{width: 420px;}
.swiper-button-next, .swiper-button-prev{top: 36%;}

.ohyes-wrp .row .col{text-align: right;}
.layer-wrp .bubble{width:181px;height:124px;background-image: url(../images/page123/bubble.png);font-size: 20px;
line-height: 21px;}