@charset "utf-8";

.bubble-box1{width: 101px;height: 93.5px;background-image: url(../images/page058/b1.png);padding-top: 16px}
.word-bubble button {position: absolute}
#interFadeIn>div {line-height: 19.6px; font-size: 22px}
.fwd1 {text-indent: 0; line-height: 15px !important}
.fwd1, .fwd2 {line-height: 25px; text-align: left}