@charset "utf-8";
.arrange-label {line-height: 23px;}
.arrange-label.v2 {padding: 17px;}
.arrange-label.v2:before {display: none;}
.arrange-answer {align-items: center;}
.arrange-test .media {padding-top: 36px;}
.arrange-test .media1 {padding-top: 10px;}
.media1 {letter-spacing: -0.038em;}
.answer2 {letter-spacing: -0.05em;}
.input-group {padding-left: 5px;}
.arrange-test .form-control {max-width: 100px; width: 100px; height: 30px;}
.answer3 .form-control {max-width: 76px; width: 76px; margin-right: 4px;}
.answer3 .arrange-label-line {width: 145px; height: 42px; padding: 4px; margin-right: 4px; letter-spacing: -0.038em;}

.media.media2-2 {padding-top: 29px;padding-left: 148px; flex-direction: column;}
.media.media2-2 .row {width: 100%;padding-top: 32px; padding-top: 0;}
.media.media2-2 .arrange-label-line {max-width: 120px; height: 48px; margin-right: 0; padding: 12px 0; text-align: center; border-radius: 5px; border: 2px solid #83cad9;}
.media.media2-2 .form-control {width: 80px;}
.media.media2-2 .blue-box {display: flex; width: 100%; background: #c8e6ed; margin-top:-14px; padding:23px 0px 10px 18px; line-height: 25px; text-align: center;}
.media.media2-2 .blue-box>div:nth-child(2) {margin-left:12px}
.media.media2-2 .blue-box>div:nth-child(3) {margin-left:24px}
.media.media2-2 .blue-box p {margin-top:8px}


.media3 .arrange-label-line {width: 89px; height: 42px; margin-right: 0;}
.media3 .col {padding-left: 5px;}
.media3 .col div:first-child {line-height: 30px;}
.media3 .form-control {width: 76px;}
.media3 .last {letter-spacing: -.023em;}
.mt-45 {margin-top: -45px;}
.line1 {left: 100%; top:-16px}
.line2 {left: 100%; top:7px}
.line3 {left: 100%; top:-22px}
.i1 {left: -25px; top: 47px;}
.i2 {left: -25px; top: 70px;}

.drop-type-box {display: inline-block; width: 83px; height: 53px; vertical-align: middle; text-align: center; }
.q5-box1 {letter-spacing: -0.023em}
#final_076_05 .fwd,
#final_076_06 .fwd {font-size: 17px;}
.q-line-btn.rt {line-height: 94px;}

.test-item .font-mi {top:21px;}
.mark-char{top: 100px;width: 120px;height: 120px;left: 50%;margin-left: -60px}
#final_076_01 ul {margin:5px 0 5px 35px}
#final_076_01 li {text-indent: 0;}
#final_076_01 .fwd {font-size: 16px;}
#final_076_01 .form-control {width: 444px; height: 30px; margin-top:5px}
.text-brown {color: #7b555e;}
#qLine{width: 635px;height: 302px}

.bx.lst-type-bull>li:before{width: 6px;height: 6px;top: 19px}
#final_076_06 .bx{line-height: 44px}
.bx .answer-wrp{vertical-align: middle;margin-top: -4px}
