@charset "utf-8";
.col-wide {margin-right: auto;margin-left: 0 !important}
.fwd {line-height: 23px}
.fwd1 {width: 114px}
.fwd2 {width: 156px}
.fwd3 {text-indent: 0; font-weight: 700}

.icon-btn-help {position: absolute; top:0; right:0}
.layer-wrp.open {z-index: 0;}