@charset "utf-8";

#wrap{background-image: url(../images/page065/bg.jpg)}
.word-bubble {width: 100%; height: 100%}
.fwd.name {text-indent: 0; font-size: 14px; font-weight: 700}
.fwd.info {width: 320px; font-size: 13px; line-height: 25px}