@charset "utf-8";
#wrap {background-image: url(../images/page073/bg.jpg)}
.row {margin-top: 139px}
.icon-btn-pencil{position: absolute;top:0;right:0}
.content-bottom .d-flex {flex-direction: column; align-items: flex-end; padding-left: 44px}
.content-bottom .para {line-height: 27px}
.ohyes-title {margin-bottom: 15px}

.btn-dic2 .explanation.layer-limit {width: 234px;}