@charset "utf-8";
.word-bubble [class^="fwd"] {text-indent: 0; text-align: center}
.fwd1, .fwd2 {line-height: 25px}
.fwd1 span {color:#3a8073}
.fwd2 span {color:#3a5680}
textarea.form-control {height: 80px}
.icon-btn-pencil {position: absolute; right: 0; top: 0;}
.word-bubble{margin-right: -35px;padding-right: 35px}
