@charset "utf-8";
.sect-do-content {padding-right: 0;}
.word-bubble img {position: relative; right:-5px; width: calc(100% + 40px);}
.word-bubble .font-dt {font-size: 14px; line-height: 25px;}
.fwd.font-mi {font-size: 20px; line-height: 18px; text-indent: 0;}
.fwd.font-mi span {padding-left: 36px;}
.verify-content {padding:20px 15px 15px 20px}

.arrange-cont-title {margin-bottom: 10px;}
.sect {margin-top: 10px;}
