@charset "utf-8";

#wrap{background-image: url(../images/page069/bg.jpg)}
.para-wrp {padding-right: 155px}
.verify {width: 303px; margin-bottom: -20px}
.verify-content {padding: 18px 5px 20px 20px}
.text-q {padding-right: 37px}
.sect-do-explore {margin-top: 30px; background-color: rgba(255,255,255,.6); border-radius: 20px}
.sect-do-content {padding-bottom: 18px}
.interaction {position: relative}
.text-circle {background: #6c7582;font-weight: 400}
.interaction .text-circle {position: absolute}