@charset "utf-8";

.content-bottom {margin-top: 45px}
.icon-btn-pencil{position: absolute;top:0;right:0}
.media-body {padding-left: 45px}
.media-body .para {font-size: 17px; line-height: 27px}
.fwd1 {font-size: 17px; text-indent: 0; line-height: 17px}
.fwd1 span {margin-left: -10px}
.fwd2 {position: relative; line-height: 25px; width: 276px}
.fwd2.last {width: 346px}
#qLine{width: 614px;height: 290px}
.q-line-btn.rt {line-height: 82px;}
.q-line-btn.rt:last-child {line-height: 106px;}
.q-line-box {width: 250px;}
