@charset "utf-8";

#wrap{background-image: url(../images/page070/bg.jpg)}
.word-bubble {margin-top: 14px}
.icon-btn-video {position: absolute; right: 0}
.word-bubble .font-ka {line-height: 15px;color:#fff}
.word-bubble .font-serif {width: 270px; line-height: 25px}
.word-bubble .font-dt {text-indent: 0; font-weight: 700}
.word-bubble .font-mi {line-height: 25px; font-size: 22px}

.content-bottom {margin-top: 302px; padding:0 14px}
.content-bottom .fwd {position: relative; font-size: 16px; line-height: 26px; }
#layerSelfWrite{right: -14px;margin-bottom: -45px}
