@charset "utf-8";

.fwd2 {text-indent: 0; text-align: center; line-height: 25px}

.tab-pane>div:not(:last-child) {border:1px solid #ddd; border-radius: 2px; padding:5px; margin-bottom:5px; font-size: 15px; font-weight: 700;}
.bg-sky {background: #e9f2f6 !important;}
.bg-ylw {background: #fbf6d8 !important;}
.sample-text {display: flex; align-items: center; text-align: left; font-weight: 400 !important; }
.tab-pane .icon-btn-chk {right:-35px}

.modal-content .icon-modal-write {display: none;}
.lst-type-bar>li:before{content: '-'; top: calc(.8em - 14.5px);left: 0;}