@charset "utf-8";

#wrap{background-image: url(../images/page059/bg.jpg)}
.icon-enlarge{position: absolute;}
.fwd{line-height: 27px;}
.fwd1{width:251px;left:93px;top:111px}
.fwd2{width:200px;left:369px;top:558px}