@charset "utf-8";

.bottom-content .position-absolute{text-align: center;}
.font-jalnan{font-size: 15px;color:#284f6b;margin-bottom: 8px;}
.font-mi{font-size: 21px;line-height: 20px;}
.icon-btn-video{position: absolute;left:0;top:42px}