@charset "utf-8";

.bottom-content .layer-wrp, .icon-hand, .btn-inter-reset, .inform, .icon-btn-pencil{position: absolute;top: 0;left: 0;}
.bubble-box{background-position: 0 0; background-repeat: no-repeat; background-size: 100% auto;font-family: 'SDMiSaeng',sans-serif !important;font-size: 21px;line-height: 18px;}
.bubble-box1{padding: 12px 0 0 0;width:128px;height:80px;background-image: url(../images/page103/bubble1.png);}
.bubble-box2{padding: 13px 0 0 0;width:132px;height:87px;background-image: url(../images/page103/bubble2.png);}
.bubble-box3{padding: 9px 0 0 9px;width:118px;height:71px;background-image: url(../images/page103/bubble3.png);}
.bubble-box4{padding: 12px 0 0 3px;width:138px;height:94px;background-image: url(../images/page103/bubble4.png);}
.bubble-box5{padding: 9px 0 0 2px;width:121px;height:55px;background-image: url(../images/page103/bubble5.png);}
.layer.layer-write{top: 62px;left: -45px;}
.dic-left .explanation{left: -8px}
