@charset "utf-8";

#wrap{background-image: url(../images/page083/bg.png)}
.icon-chapter-1{background-image: url(../images/page083/chapter1.png);}
.icon-chapter-2{background-image: url(../images/page083/chapter2.png);}
.icon-chapter-3{background-image: url(../images/page083/chapter3.png);}

.chapter-list .title {position: relative; margin-top:13px;margin-bottom:8px;line-height:1.3rem}
.chapter-list .icon-btn-click {position: absolute;margin:0;}
.chapter-list li:first-child .icon-btn-click {top:-4px;right:-35px;}
.chapter-list li:nth-child(2) .icon-btn-click {top:-2px;right:-11px;}
.chapter-list li:last-child .icon-btn-click {top:-4px;right:-22px;}