@charset "utf-8";

#wrap{background-image: url(../images/page084/bg.jpg)}
.content{line-height: 27px;padding-right: 45px}
.layer-wrp-ox .bubble{width: 229px;height: 187px;background-image: url(../images/page084/bubble.png);}
#layer2 .bubble{background-image: url(../images/page084/bubble2.png);}
