@charset "utf-8";

.word-bubble {padding:0 47px}
.fwd1 {width: 476px; line-height: 1.5;}
.fwd2 {font-size: 12px; text-align: left; text-indent: 0;line-height: 16px}
.verify-content {padding-top:8px; padding-bottom:7px}
.layer-wedorang {width:270px}
.fwd.font-ka{line-height: 27px;color: #366860;letter-spacing: -.025em;left: 108px; top: 24.9062px;}
