@charset "utf-8";

#wrap{background-image: url(../images/page013/bg.jpg);}
.bottom-content .text-mark .col {text-shadow: -2px -2px 4px rgb(255 255 255 / 80%), 2px 2px 4px rgb(255 255 255 / 80%);}
.icon-btn-play {top: 47%;}