@charset "utf-8";

.box, .bottom-content{height: 350px;background: url(../images/page108/1.jpg) no-repeat 0 0/auto 100%;padding: 24px 22px 0}
.box-head{display: flex;align-items: center;margin-bottom: 12px}
.box-head .font-ka{width: 152px;height: 67px;font-size: 16px;line-height: 22px;color: #fff;display: flex;align-items: center;justify-content: center;flex-shrink: 0;margin-right: 25px;text-align: center}
.box-head .font-dt{padding-right: 10px;text-indent: 1em;line-height: 25px}
.bottom-content{height: 530px;background-image: url(../images/page108/2.jpg)}
.bottom-content .layer-wrp{position: absolute; right: 32px; top: 60px}
.bottom-content .label{position: absolute; left: 154px; top:130px}
.bottom-content .lst-type-bull{font-size: 22px;line-height: 40px;text-align: left}
.font-serif{font-size: 16px;line-height: 32px;text-align: left;text-indent: 0;letter-spacing: -.025em}
.formbox{line-height: 30px}
.formbox .itx{width: 96px;vertical-align: middle;margin-top: -3px}
.formbox textarea{width: 261px;height: 165px}
.fwd>.font-mi{font-size: 23px;vertical-align: middle;display: inline-block}
