@charset "utf-8";

#wrap{background-image: url(../images/page085/bg.png)}
.icon-chapter-1{background-image: url(../images/page085/chapter1.png);}
.icon-chapter-2{background-image: url(../images/page085/chapter2.png);}
.icon-chapter-3{background-image: url(../images/page085/chapter3.png);}
