@charset "utf-8";

.paper{width: 311px;height: 165px;background: url(../images/page094/2.png) no-repeat 0 0/100% auto;font-size: 13px;line-height: 19px;letter-spacing: -.025em;font-weight: 700;padding: 18px 70px 0 30px;margin: 0 15px 0 40px}
.icon-btn-pencil{position: absolute;top: 0;right: 0}
