@charset "utf-8";

#wrap{background-image: url(../images/page098/bg.jpg)}
.ch-2-title span {letter-spacing: -0.027em}
.font-mi{ font-size: 20px}
.icon-hand, .icon-btn-refresh{position: absolute}
.bubble-box1{width: 137.5px;height: 81px;background-image: url(../images/page098/b1.png);padding-top: 12px}
.bubble-box2{width: 110px;height: 68.5px;background-image: url(../images/page098/b2.png);padding-top: 16px}
.bubble-box3{width: 111.5px;height: 55px;background-image: url(../images/page098/b3.png);padding-top: 13px}
