@charset "utf-8";
#wrap{background-image: url(../images/page146/bg.jpg)}
[class^=fwd] {text-indent: 0}
.row {padding-top: 303px}
.fwd1 {font-size: 12px; font-weight: 700}
.fwd2 {font-size: 12px; font-weight: 300}
.fwd3 {font-size: 8px; font-weight: 300}