@charset "utf-8";
.img-tit {font-size: 14px; font-weight: 700; margin-top: 6px}
.col-auto {margin-right: 25px}
.para {text-indent: 1em}
.para2 {padding-left: 155px; text-indent: 0}
.btn-dic1 .explanation.layer-limit {width: 235px}
.content-bottom {margin-top: 5px}
.font-mi {line-height: 18px}
.fwd3 {font-weight: 700; color: #c32e1b}