@charset "utf-8";
#wrap{background-image: url(../images/page142/bg.png)}
.fwd.font-ka {text-indent: 0; line-height: 15px; color:#fff}
.fwd1 {line-height: 25px; text-align: center; color:#fff}
.fwd.font-dt {font-size: 12px; line-height: 12px; text-indent: 0}
.para1 {width: 324.5px; line-height: 32px}
.para-wrp {position: absolute}
.para-wrp2 {width: 319px; line-height: 32px}