@charset "utf-8";
.para-title {margin-bottom: 7px; line-height: 19px}
.content-top .para {width: 355px; text-indent: 1em}
.word-bubble {padding-top: 5px}
.font-mi {line-height: 18px}
.content-bottom {margin-top: 78px}
.img-tit {margin-top: 8px; font-size: 14px; line-height: 1em; font-weight: 700}
.content-bottom .para {width: 312.5px; margin-left: auto; font-size: 16px; text-indent: 1em; line-height: 26px}
.ohyes-title {margin-bottom: 26.5px}