@charset "utf-8";

#wrap {background-image: url(../images/page141/bg.jpg)}

.word-bubble {height:754px; margin-top:24px}
.btn-dic {font-weight: 400; font-family: 'SDMiSaeng',sans-serif !important;}
.bottom-content{left: 30px; margin-top: 20px}
