@charset "utf-8";

#wrap{background-image: url(../images/page047/bg.jpg)}
.col-wide-cont{flex:0 0 410px;max-width: 410px;}
.img-tit{margin-left: -12px;}
.para1{font-size: 17px !important;line-height: 32px !important;}
.badge-text{font-size: 17px;line-height: 1;color:#133860;background-color: #d7dee2;border-radius:10px;padding:4px 6px;position: absolute;left: 11px;top:-12px}
.bx.bx-badge-text{position: relative;background: #fff;padding:25px 20px}
.row-step .col-step{display: flex;flex-direction: column; flex:0 0 125px;max-width: 125px;}
.badge-num{display: flex;width:22px;height:22px;background-color:#133860;color:#fff;font-size: 15px;font-weight: 700;align-items: center;justify-content: center;border-radius: 5px;margin:2px 5px 0 0}
.step-img{display: flex;align-items: flex-start;}
.step-txt{margin-top:10px;font-size: 14px;line-height: 22px;display: inline-block;max-width: 111px;margin-left: auto;text-indent: 1em;text-align: justify;}
.word-bubble{margin:-68px 0 0 -9px;}
.word-bubble [class*=fwd].font-mi{line-height: 18px !important;}
.word-bubble .font-dt{font-size: 15px;line-height: 23px;text-indent: 0;text-align: center;}
.word-bubble .font-dt span{font-size: 14px;}