@charset "utf-8";

.para-content+.para-content{margin-top:45px;}
.word-bubble{position: absolute;left: 0;bottom: 0;}
.word-bubble .fwd1{width: 241px;font-size: 14px;line-height: 23px;text-indent: 0;}
.dic1 .explanation.layer-limit{width: 220px}
