@charset "utf-8";

#wrap{background-image: url(../images/page044/bg.jpg)}
.fwd{line-height: 23px;text-indent: 1em;}
.fwd1{width: 332px;left: 39px;top:98px}
.fwd2{width: 327px;right:25px;top:453px}
.fwd3{width: 362px;top:567px;left:107px}