@charset "utf-8";

#wrap{background-image: url(../images/page036/bg.jpg)}

.modal .media-title {letter-spacing: -0.75px; margin-top:29px}

/* .modal {background: url(../images/page036/m-bg.jpg) no-repeat 50% 50% /100% auto}
.modal-content, .modal-body {background: none;} */
.interaction {position: absolute;}
.answersheet{position: absolute;top:0;left:0;width:100%; height:419px; margin-top:0}
.answersheet li{display: flex; height:205px; padding:26px 70px; }
.answersheet li.justify-content-end {padding-right:60px}
.answersheet label {align-self: flex-end;}
.check-area {position: absolute;top:0;left:0; width:100%;height:100%; }